.movieList{
    max-width: 35rem;
}

.movieList img{
    width: 109%;
}

.movieListHeading{
    text-align: center;
    background-color: lavender;
    padding : 1rem 1rem 1rem 1rem;
}

.movieListHeading:hover{
    font-weight: 500;
    font-size: large;
}

.movie{
    display: flex;
    justify-content: space-between;
}

.movie h3{
    width: 20rem;
}

.movie button{
    border: none;
    transition-duration: 0.4s;
}

.movie button:hover{
    background-color: lightcoral;
    color: whitesmoke;
    cursor: pointer;
}

.movieItem{
    border-bottom: 0.05rem solid lighten(grey, 10%);
    transition-duration: 0.6s;
}

.movieItem:hover{
    background-color: lemonchiffon;
}

.movieItem .movieDetail{
    word-break: break-all;
    font-size: smaller;
}

.error{
    color: red;
    margin: 10% 0% 0% 43%;
}
