.notFoundPage{
    margin-top: 3rem;
}

.notFoundPage img{
    width: 30%;
    margin-left: 34%;
}

.notFoundPage .dashboardLink{
    display: block;
    text-align: center;
    color: red;
}