@import './base/settings';
@import './base/base';
@import './components/header';
@import './components/dashboard';
@import './components/add_movie';
@import './components/movie_list';
@import './components/not_found_page';
@import './components/list_filter';